<p id="notice"><%= notice %></p>

<p>
  <strong>Problem:</strong>
  <%= @first_world_problem.problem %>
</p>

<table>
<thead>
<tr>
<th>Problem</th>
<th colspan="3"></th>
</tr>
</thead>
<tbody>
<% @first_world_problems.each do |first_world_problem| %>
<tr>
<td><%= first_world_problem.problem %></td>
<td><%= link_to 'Show', first_world_problem %></td>
<td><%= link_to 'Edit', edit_first_world_problem_path(first_world_problem) %></td>
<td><%= link_to 'Destroy', first_world_problem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
<% end %>
</tbody>
</table>


<%= link_to 'Edit', edit_first_world_problem_path(@first_world_problem) %> |
<%= link_to 'Back', first_world_problems_path %>
