<h1>#FirstWorldProblems</h1>
<p id="notice"><%= notice %></p>
<p>
  <strong>Problem:</strong>
  <%= @first_world_problem.problem %>
</p>

<div class="row">
<% @first_world_problems.each do |first_world_problem| %>
<div class="col-md-4">
	<div class="posted_problem">
		<div class="problem_content"><%= first_world_problem.problem %></div>
		<%= link_to 'Show', first_world_problem %>
		<%= link_to 'Edit', edit_first_world_problem_path(first_world_problem) %>
		<%= link_to 'Destroy', first_world_problem, method: :delete, data: { confirm: 'Are you sure?' } %>
	</div>
</br>
</div>
<% end %>
</div>

<%= link_to 'Edit', edit_first_world_problem_path(@first_world_problem) %> |
<%= link_to 'Back', first_world_problems_path %>
